<% provide(:title, "Log in") %>
<div class = "container">
  <h1>Log in</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

          <div class ="input-field col s12" style="height: 3rem">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class ="input-field col s12" style="height: 3rem">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
         </div>

          <p>
            <%= f.check_box :remember_me ,type: "checkbox" %>
            <%= f.label :remember_me do %>
                <span>Remember me on this computer</span>
          </p>


      <% end %>
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>