<h2 style="margin-bottom: 0px"><%= @section.name %></h2>
<div class="container">
  <%= form_tag section_saveVideo_path(@section.id) do %>
      <h5 class="center" style="margin-bottom: 10px; margin-top: 10px;">
       <%= button_tag(:class => "orange btn-medium btn-floating ") do %>
          <i class="mdi-content-save"></i>
      <% end %>
     </h5>
      <%= text_field_tag "vidURL", @section.content %>
      <% end %>
</div>
<div class="valign-wrapper">

  <% if @sections.find_by(order: @section.order-1) %>
      <%= link_to @sections.find_by(order: @section.order-1), class: "btn btn-default" do %>
          <i style="float:left vertical-align:middle" class="large mdi-navigation-arrow-back valign"></i>
      <% end %>
  <% else %>
      <div class="btn btn-default disabled">
        <i style="float:left vertical-align:middle" class="large mdi-navigation-arrow-back valign"></i>
      </div>
  <% end %>

  <div class="container">
    <% if @section.contentType =="vid" %>
        <div class="video-container">
          <iframe width="854" height="510" src="<%=raw(@video)%>" frameborder="0" allowfullscreen></iframe>
        </div>
    <% end %>
  </div>

  <% if @sections.find_by(order: @section.order+1) %>
      <%= link_to @sections.find_by(order: @section.order+1), class: "btn btn-default" do %>
          <i style="float:left vertical-align:middle" class="large mdi-navigation-arrow-forward valign"></i>
      <% end %>
  <% else %>
      <%= link_to @quizzes.find_by(chapter_id: @section.chapter_id), class: "btn btn-default" do %>
          <i style="float:left vertical-align:middle" class="large mdi-navigation-arrow-forward valign"></i>
      <% end %>
  <% end %>
</div>
<div class="container">
  <h3 class="left-align"><a style="color:<%if passed?(@section.chapter)==1%> green"
                            <% elsif passed?(@section.chapter)==0 %>red"
  <% else %>grey"
  <% end %>href="<%= polymorphic_path @section.chapter.course %>
  "><i class="mdi-navigation-chevron-left"> </i><%= @section.chapter.name %> </a></h3>
</div>