<div class="col s12 m4">
  <div class="card medium">
    <%= form_for @course,:url => course_save_path(course.id), :html => {:class => "chapter_edit_card"} do |form| %>
    <div class="card-image waves-effect waves-block waves-light valign-wrapper">
            <% if course.imageSource.nil? %>
          <img class="activator" style="position: absolute" src=<%= asset_path course.photo.url %>>
      <% else %>
          <img class="activator" style="position: absolute"src=<%= asset_path course.imageSource %>>
      <% end %>

    </div>


        <div class="card-content">
          <label class="cabinet valign">
            <%= form.file_field :photo %>
          </label>
          <span class="card-title" style="color:black">
            <%= form.text_field :name, :value => course.name,class:"card-field" %>

            <%= button_tag(:class => "orange btn-medium btn-floating right") do %>
                    <i class="mdi-content-save"></i>
                <% end %>
          </span>

        </div>
        <div class="card-reveal">
           <span class="card-title orange-text text-darken-2"><%= course.name %>
             <i class="mdi-navigation-close right"></i>
           </span>
          <%= form.text_area :description, :value => course.description, class: "text-area" %>
          <%= button_tag(:class => "orange btn-medium btn-floating right") do %>
              <i class="mdi-content-save"></i>
          <% end %>
        </div>
    <% end %>

  </div>
</div>