<div class="container">

  <% if !@active_courses.first.nil? %>
      <h2 style="margin-bottom:10px">Current Courses</h2>
  <% end %>
  <h3 class="course-save">
    <a href="<%= save_path%>" class="btn waves-effect waves-light red"><i class="mdi-content-saveq"></i></a>
  </h3>
  <div class="row">

    <% @active_courses.each do |course| %>
        <div class="col s12 m4">
          <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src=<%= asset_path course.imageSource %>>
            </div>
            <div class="card-content">
              <span class="card-title" style="color:black">
                <div class="input-field col s12">
                  <input value="<%= course.name %>" id="course_name" type="text" class="validate edit_course">
                </div>
              </span>

            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= course.name %></span>

                <textarea style="height:17em" id="course_description" type="text"> <%= course.description %> </textarea>

              <%= link_to "Continue", course %>

            </div>
          </div>
        </div>

    <% end %>
  </div>
  <% if !@available_courses.first.nil? %>
      <h2>Availaible Courses</h2>
  <% end %>

  <div class="row">


    <% @available_courses.each do |course| %>
        <div class="col s12 m4">
          <div class="card medium">

            <div class="card-image waves-effect waves-block waves-light">

              <img class="activator" src=<%= asset_path course.imageSource %>>
            </div>
            <div class="card-content">
              <span class="card-title" style="color:black">
                <div class="input-field col s12">
                  <input value="<%= course.name %>" id="course_name" type="text" class="validate edit_course">
                </div>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= course.name %></span>

              <textarea style="height:17em" id="course_description" type="text"> <%= course.description %> </textarea>
              <% if current_user.active_courses.find_by(course_id: course.id) %>
                  <%= link_to "Continue", course %>
              <% else %>
                  <%= link_to "Start", course %>
              <% end %>
            </div>
          </div>
        </div>

    <% end %>

  </div>


</div>











