<div class="container">
  <ul class="collapsible" data-collapsible="expandable">


    <% if !@active_courses.first.nil? %>
        <li>
          <div class="collapsible-header active"><h3 class = "center">Current Courses</h3></div>
          <div class="collapsible-body">
            <div class="row">
              <% @active_courses.each do |course| %>
                  <%= render 'courses/editCourseCard', course: course %>
              <% end %>
              <% if current_user.clearance>1 && @available_courses.first.nil?%>
                  <%= render 'courses/disabledCourseCard' %>
              <% end %>
            </div>
          </div>
        </li>
    <% end %>


    <% if !@available_courses.first.nil? %>
        <li>
          <div class="collapsible-header active"><h3 class = "center">Available Courses</h3></div>
          <div class="collapsible-body">
            <div class="row">
              <% @available_courses.each do |course| %>
                  <%= render 'courses/editCourseCard', course: course %>
              <% end %>
              <% if current_user.clearance>1  %>
                  <%= render 'courses/disabledCourseCard' %>
              <% end %>
            </div>
          </div>
        </li>
    <% end %>
    <% if !@finished_courses.first.nil? %>
        <li>
          <div class="collapsible-header"><h3 class = "center">Finished Courses</h3></div>
          <div class="collapsible-body">
            <div class="row">
              <% @finished_courses.each do |course| %>
                  <%= render 'courses/editCourseCard', course: course %>
              <% end %>
            </div>
          </div>
        </li>
    <% end %>

  </ul>

</div>











