<div class="container">

  <h2><%= @course.name %></h2>

  <h3>Chapters</h3>

  <div class="row">
    <% @chapters.each do |chapter| %>
        <div class="col s12 m6">

          <div class="card grey lighten-3 small">

            <%if chapter.quiz.quiz_results.find_by(user_id:current_user.id)%>
            <div class="progress" style="margin-top:0px">

              <div class="determinate" style="
              <% if chapter.quiz.quiz_results.find_by(user_id:current_user.id,passed:true)%>
                      background-color:green">
              <%else%>
                  background-color:red">
              <% end %>

              </div>
            </div>
                <%end%>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%= chapter.name %>
                <i class="mdi-navigation-more-vert right"></i></span>

              <p><%= chapter.overview %></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Sections<i class="mdi-navigation-close right"></i></span>
              <ol>
                <% chapter.sections.each do |section| %>
                    <li> <%= link_to section.name, section %></li>
                <% end %>
                <% if !chapter.quiz.nil? %>
                    <li> <%= link_to chapter.quiz.name, chapter.quiz %></li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

