<% provide(:title, 'Sign up') %>
<div class = "container">
  <h1>Sign up</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for (@organization) do |organization_form| %>
      <%= render 'shared/error_messages' %>

      <%= organization_form.label :organizationName, "Institution Name" %>
      <%= organization_form.text_field :organizationName, class: 'form-control' %>

      <%= organization_form.label :licenseKey, "License Key" %>
      <%= organization_form.text_field :licenseKey, class: 'form-control' %>

      <%= organization_form.fields_for @users do |user_form| %>
        <%= user_form.label :name, "Admin Name" %>
        <%= user_form.text_field :name, class: 'form-control' %>

        <%= user_form.label :email %>
        <%= user_form.email_field :email, class: 'form-control' %>

        <%= user_form.label :password %>
        <%= user_form.password_field :password, class: 'form-control' %>

        <%= user_form.label :password_confirmation, "Confirmation" %>
        <%= user_form.password_field :password_confirmation, class: 'form-control' %>
  <% end %>

      <%= organization_form.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>